<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifica OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Verifica OTP</h1>
    <form method="POST">
        <label for="otp">Inserisci il codice OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <button type="submit">Verifica</button>
    </form>
</body>
</html>